# package directories
./node_modules
./dist
jspm_packages



# Serverless directories
.serverless

# Build directories
.webpack

# Mac folder stuff
.DS_Store

#amplify
build/
dist/
node_modules/
.vscode/settings.json
